.product-Details-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.img-container {
  flex: 0 0 200px;
  margin-right: 20px;
}

.productImg {
  width: 40vw;
  height: auto;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: roboto;
}

.product-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.rating {
  margin: 0;
  font-size: 1rem;
  margin-right: 5px;
}

.rating-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.review-text {
  font-size: 0.8rem;
  color: #888;
}

.description {
  margin-bottom: 10px;
}

.stock-availability {
  margin-bottom: 5px;
}

.highlight-text {
  font-weight: bold;
}

.line {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.changes-section {
  display: flex;
  align-items: center;
}

.icon {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
}

.icon:hover {
  background-color: #e0e0e0;
}

.quantity {
  margin: 0 10px;
  font-size: 1.2rem;
}

.quantity-controller-icon {
  font-size: 1.5rem;
  color: #333;
}
.similar-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
